doctype html5
html
    head
        title InterCorte - Área Restrita
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='/assets_v2/css/bootstrap-multiselect.css')
        block styles
    body
        nav.navbar.navbar-default
            .container-fluid
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                        a.navbar-brand(href="#") InterCorte - Área Restrita
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/admin/depoimentos")
                                | Depoimentos
                                span.sr-only (current)
                        li
                            a(href="/admin/eventos")
                                | Eventos
                        li
                            a(href="/admin")
                                | Participantes
                        li
                            a(href="/admin/palestrantes")
                                | Palestrantes
                        li
                            a(href="/admin/patrocinadores")
                                | Patrocinadores
                        li
                            a(href="/admin/programacao")
                                | Programação
                        li
                            a(href="/admin/configuracoes")
                                | Configurações
                    if user
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="/logout") Sair

        div.container
            include partials/_errors
            include partials/_success
            block content


    script(
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src="/assets_v2/js/bootstrap-multiselect.js")
    block scripts
