#modal-alteracoes.modal.fade(role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg.modal-ku(role='document')
        .modal-content
            .modal-header
                h5#modal-title.modal-title Últimas alterações do sistema
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                ul.list-group#lista


            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Fechar
