/* ==========================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Fullcalendar
   ========================================================================== */
.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}
.fc-unthemed {
  position: relative;
  z-index: 50;
}
.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #d8e2e7;
}
.fc-unthemed th {
  font-weight: 600;
  font-size: 0.75rem /*12/16*/;
  text-transform: uppercase;
  padding: 10px 15px;
}
.fc-unthemed .jspVerticalBar {
  z-index: 5;
}
.fc-toolbar {
  margin: 0;
  padding: 10px 15px 5px 80px;
}
.fc-toolbar h1,
.fc-toolbar h2,
.fc-toolbar h3,
.fc-toolbar h4,
.fc-toolbar h5,
.fc-toolbar h6 {
  font-weight: 600;
  font-size: 1rem;
  padding: .375rem .5rem;
  position: relative;
  top: 3px;
}
.fc-state-default {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #6c7a86;
  font-weight: 600;
  font-size: 1rem;
  padding: .375rem 1rem;
  -webkit-border-radius: 25rem !important;
          border-radius: 25rem !important;
  -webkit-transition: none;
  transition: none;
}
.fc-state-active {
  background-color: #00a8ff;
  color: #fff;
  text-shadow: none;
}
.fc-prev-button,
.fc-next-button {
  color: #d8e2e7;
}
.fc-prev-button:hover,
.fc-next-button:hover {
  color: #00a8ff;
}
.fc button .fc-icon {
  width: auto;
  height: auto;
  line-height: normal;
  margin: 0;
  top: 2px;
  overflow: visible;
}
.fc .fc-toolbar > * > * {
  margin-left: 0;
}
.fc-unthemed .fc-today {
  background-color: #fff6da;
}
.fc-highlight {
  background-color: #a0dfff;
  border: solid 1px #00a8ff;
}
.fc-widget-header,
.fc-widget-content {
  margin-right: 0 !important;
}
.fc-scroller {
  overflow-y: auto;
  overflow-x: hidden !important;
}
.fc-ltr .fc-time-grid .fc-event-container {
  margin: 0;
}
.fc-time-grid-event .fc-time {
  font-size: 1rem;
}
.fc-day-grid-event .fc-time {
  font-weight: 600;
}
.fc-event {
  background-color: #b0e4fe;
  border-color: #fff;
  color: #343434;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-size: 1rem;
  padding: 7px;
  -webkit-transition: none;
  transition: none;
}
.fc-event.event-clicked {
  background-color: #62cafd;
  border-color: #00a8ff;
  z-index: 30 !important;
}
.fc-event.event-clicked:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: solid 1px #fff;
}
.fc-event.event-green {
  background-color: #c8ecce;
}
.fc-event.event-green.event-clicked {
  background-color: #92db9d;
}
.fc-event.event-red {
  background-color: #fec6c7;
}
.fc-event.event-red.event-clicked {
  background-color: #fd8e91;
}
.fc-event.event-orange {
  background-color: #ffecb5;
}
.fc-event.event-orange.event-clicked {
  background-color: #f7c16d;
}
.fc-event.event-coral {
  background-color: #ffcdb4;
}
.fc-event.event-coral.event-clicked {
  background-color: #ff9a6b;
}
a.fc-event:hover {
  color: #343434;
}
a.fc-more {
  font-size: 1rem;
  text-decoration: none;
  color: #0082c6;
  border-bottom: solid 1px rgba(0, 130, 198, 0.3);
}
a.fc-more:hover {
  border-bottom-color: transparent;
}
.fc-unthemed .fc-popover,
.fc-popover {
  width: 250px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  border: none;
}
.fc-unthemed .fc-popover .fc-header,
.fc-popover .fc-header {
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
  color: #fff;
  background: #00a8ff;
  padding: 6px 10px 6px 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .875rem;
}
.fc-unthemed .fc-popover .fc-header .fc-title,
.fc-popover .fc-header .fc-title {
  margin: 0;
}
.fc-unthemed .fc-popover .fc-header .fc-close,
.fc-popover .fc-header .fc-close {
  color: #fff;
  font-size: .875rem;
}
.fc-unthemed .fc-popover .fc-body,
.fc-popover .fc-body {
  background: #fbfcfd;
  border: solid 1px #c5d6de;
  border-top: none;
  -webkit-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
.fc-unthemed .fc-popover .fc-event-container,
.fc-popover .fc-event-container {
  padding: 10px 12px;
}
.fc-unthemed .fc-popover .fc-h-event,
.fc-popover .fc-h-event {
  padding-left: 7px !important;
  margin-left: 2px !important;
}
.fc-unthemed .fc-popover .text-center .btn,
.fc-popover .text-center .btn {
  margin: 0 4px;
}
.fc-popover.click {
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 50;
  margin-left: -120px;
  margin-top: 8px;
  font-size: .9375rem;
}
.fc-popover.click .fc-header {
  position: relative;
  padding-right: 30px;
}
.fc-popover.click .fc-header:before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #00a8ff transparent;
}
.fc-popover.click .fc-header .cl {
  border: none;
  background: none;
  padding: 0;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}
.fc-popover.click .fc-body {
  padding: 12px;
}
.fc-popover.click .fc-body p {
  margin: 0 0 1em;
}
.fc-popover.click .fc-body .actions {
  margin: 0 -12px 0 0;
  zoom: 1;
}
.fc-popover.click .fc-body .actions:before,
.fc-popover.click .fc-body .actions:after {
  content: " ";
  display: table;
}
.fc-popover.click .fc-body .actions:after {
  clear: both;
}
.fc-popover.click .fc-body .actions li {
  float: left;
  margin: 0 12px 0 0;
}
.fc-popover.click .fc-body .actions li:last-child {
  margin-right: 0;
}
.fc-popover.click .fc-body > .btn {
  margin: 0 10px 0 0;
}
.fc-popover.click .fc-body .form-control {
  font-size: .875rem;
}
.fc-popover.click .fc-body.remove-confirm,
.fc-popover.click .fc-body.edit-event {
  display: none;
}
/* ==========================================================================
   Calendar page
   ========================================================================== */
.calendar-page {
  zoom: 1;
}
.calendar-page:before,
.calendar-page:after {
  content: " ";
  display: table;
}
.calendar-page:after {
  clear: both;
}
.calendar-page .calendar-page-content {
  float: left;
  width: 100%;
  margin-right: -250px;
  position: relative;
}
.calendar-page .calendar-page-content-in {
  margin: 0 249px -1px -1px;
}
.calendar-page .calendar-page-title {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 1rem;
  font-weight: 600;
  z-index: 2;
  padding: .375rem 15px;
}
.calendar-page .calendar-page-side {
  float: right;
  width: 250px;
  position: relative;
  z-index: 2;
  border-left: solid 1px #d8e2e7;
}
.calendar-page .calendar-page-side .bootstrap-datetimepicker-widget {
  padding: 15px 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 270px;
}
.calendar-page .calendar-page-side .bootstrap-datetimepicker-widget table th.picker-switch {
  font-size: 1rem;
  font-weight: 600;
}
.calendar-page .calendar-page-side .exp-timeline-iten {
  margin-bottom: 10px;
}
.calendar-page .calendar-page-side .exp-timeline-iten:last-child {
  margin-bottom: 0;
}
.calendar-page .calendar-page-side-section {
  border-top: solid 1px #d8e2e7;
}
.calendar-page .calendar-page-side-section:first-child {
  border-top: none;
}
.calendar-page .calendar-page-side-section-in {
  padding: 5px;
}
.calendar-page .calendar-page-side-section-in .flatpickr-input {
  display: none;
}
.calendar-page .calendar-page-side-section-in .exp-timeline {
  padding-left: 10px;
  padding-right: 10px;
}
.calendar-page .calendar-page-side-section-in .exp-timeline .exp-timeline-item + .exp-timeline-item {
  margin-top: 10px;
}
.calendar-page .calendar-page-side-section-in .colors-guide-list {
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 1199px) {
  .calendar-page .calendar-page-content {
    float: none;
    margin-right: 0;
  }
  .calendar-page .calendar-page-content-in {
    margin-right: -1px;
  }
  .calendar-page .calendar-page-side {
    float: none;
    width: auto;
    zoom: 1;
  }
  .calendar-page .calendar-page-side:before,
  .calendar-page .calendar-page-side:after {
    content: " ";
    display: table;
  }
  .calendar-page .calendar-page-side:after {
    clear: both;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .calendar-page .calendar-page-side .calendar-page-side-section {
    float: left;
    width: 33.333333%;
  }
}
@media (max-width: 767px) {
  .calendar-page .calendar-page-content {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .calendar-page .calendar-page-content-in {
    min-width: 740px;
  }
}
.colors-guide-list {
  padding: 0 0 10px;
}
.colors-guide-list .color-double {
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #b0e4fe;
}
.colors-guide-list .color-double > div {
  height: 16px;
  width: 50%;
  -webkit-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
  background: #62cafd;
}

.color-double.grey {
  background-color: #dedede;
}
.color-double.magenta {
  background-color: #d0a0ff;
}
.color-double.green {
  background-color: #c8ecce;
}
.color-double.red {
  background-color: #fec6c7;
}

.color-double.orange {
  background-color: #ffecb5;
}

.color-double.coral {
  background-color: #ffcdb4;
}


.colors-guide-list .color-double.grey {
   background-color: #dedede;
 }
.colors-guide-list .color-double.grey > div {
  background-color: #cecece;
}
.colors-guide-list .color-double.magenta {
  background-color: #d0a0ff;
}
.colors-guide-list .color-double.magenta > div {
  background-color: #c286fd;
}
.colors-guide-list .color-double.green {
  background-color: #c8ecce;
}
.colors-guide-list .color-double.green > div {
  background-color: #92db9d;
}
.colors-guide-list .color-double.red {
  background-color: #fec6c7;
}
.colors-guide-list .color-double.red > div {
  background-color: #fd8e91;
}
.colors-guide-list .color-double.orange {
  background-color: #ffecb5;
}
.colors-guide-list .color-double.orange > div {
  background-color: #f7c16d;
}
.colors-guide-list .color-double.coral {
  background-color: #ffcdb4;
}
.colors-guide-list .color-double.coral > div {
  background-color: #ff9a6b;
}
.colors-guide-list li {
  position: relative;
  padding: 0 0 10px 25px;
}
.calendar-page .flatpickr-calendar {
  border: none;
}
