extends ./layout

block styles_before
    link(rel='stylesheet', href='/css/separate/vendor/tags_editor.min.css')
    link(rel='stylesheet', href='/css/separate/vendor/bootstrap-select/bootstrap-select.min.css')
    link(rel='stylesheet', href='/css/separate/vendor/select2.min.css')

block content

    .container-fluid
        header.section-header
            .tbl
                .tbl-row
                    .tbl-cell
                        h3 Importar base
        .box-typical.box-typical-padding
            form(action ="/import", method="POST" enctype="multipart/form-data")
                .row

                    .col-lg-4
                        fieldset.form-group
                            label.form-label() Tipo de arquivo
                            select.form-control(name='tipo', required)
                                option(value='') -- Selecione --
                                option(value='PEDIDOS') PEDIDOS PROTHEUS

                    .col-lg-4
                        fieldset.form-group
                            label.form-label.semibold Arquivo
                            input.form-control(name="arquivo", type='file', required)
                hr

                .row
                    .col-md-12
                        button.btn.btn-primary.pull-right(type="submit") Enviar


