doctype html
html
    head(lang="en")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title StartUI - Premium Bootstrap 4 Admin Dashboard Template
        link(href="/img/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144")
        link(href="/img/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114")
        link(href="/img/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72")
        link(href="/img/favicon.57x57.png" rel="apple-touch-icon" type="image/png")
        link(href="/img/favicon.png" rel="icon" type="image/png")
        link(href="/img/favicon.ico" rel="shortcut icon")
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //if lt IE 9
            script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
            script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
        link(rel="stylesheet" href="/css/separate/pages/error.min.css")
        link(rel="stylesheet" href="/css/lib/font-awesome/font-awesome.min.css")
        link(rel="stylesheet" href="/css/lib/bootstrap/bootstrap.min.css")
        link(rel="stylesheet" href="/css/main.css")
    body
        .page-error-box
            .error-title Atenção
            .error-title Navegador Internet Explorer não permitido.
            p Tente acessar novamente utilizando outro navegador (Ex: Google Chrome ou Firefox)
