extends ../layout

block styles_before
    link(rel='stylesheet', href='/css/lib/datatables-net/datatables.min.css')
    link(rel='stylesheet', href='/css/separate/vendor/datatables-net.min.css')

block content

    .container-fluid
        header.section-header
            .tbl
                .tbl-row
                    .tbl-cell
                        h2 Listagem de Usuários
                        a.btn.btn.primary(href="/usuarios/create") Adicionar
        section.card
            .card-block
                table.datatable-marfrig.display.table.table-striped.table-bordered(cellspacing='0', width='100%')
                    thead
                        tr
                            th Nome
                            th Usuário
                            th E-mail
                            th Tipo
                            th Locais
                            th Status
                            th Ações
                    tbody
                        for one in all
                            if one.username != 'admin'
                                tr
                                    td= one.name
                                    td= one.username
                                    td= one.email
                                    td= one.tipo
                                    td= one.locais_list
                                    td= one.status == 1 ? "Ativo" : "Inativo"
                                    td
                                        .btn-group
                                            a(href='/usuarios/' + one._id + '/edit') Editar
                                            | &nbsp;|&nbsp;
                                            if one.status == 1
                                                a.anchor-confirm(href="/usuarios/" + one._id + "/desativar") Desativar
                                            else if one.status == 2
                                                a.anchor-confirm(href="/usuarios/" + one._id + "/ativar") Ativar
                                            | &nbsp;|&nbsp;
                                            //a.anchor-confirm(href="/usuarios/" + one._id + "/reset-pass") Resetar senha
        // .page-content